<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Credit Risk Estimation</title>
</head>
<body class="bg-white">

    <!-- Navbar -->
    <nav class="bg-cyan-600 px-8 py-4 text-4xl font-semibold text-center text-white">
        Assess the Credit Risk
    </nav>

    <!-- Horizontal line -->
    <hr class="border-gray-300 my-4">

    <!-- Flash messages -->
<div class="container mx-auto mt-5">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded mb-2">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<div class="container mx-auto">
    {% block content %}
   <hi class ="text-2xl font-bold mb-4 text-center">
    Enter the detail
   </hi>
   <form action="/predict" method="post" enctype="multipart/form-data" class="w-full max-w-lg mx auto bg-gray-200 p-6 rounded shadow-md ">
       <label for ='age' class="font bold text-1xl">
        Age
       </label><br>
       <input type ="numbe" name="age" id="age" class="border p-2 w-full rounded mb-4"><br>
       <p class = "font-bold">
        Sex
       </p>
       <div class ="mb-4">
          <label class="mr-4"><input type="radio" name="Sex"  value="male">Male</label>
          <label class="mr-4"><input type="radio" name="Sex"  value="female">Female</label>
       </div>
        <p class="font-bold">Job</p>
            <div class="mb-4 space-y-1">
                <label><input type="radio" name="job" value="0"> 0</label><br>
                <label><input type="radio" name="job" value="1"> 1</label><br>
                <label><input type="radio" name="job" value="2"> 2</label><br>
                <label><input type="radio" name="job" value="3"> 3</label>
            </div>
   </form>
</div>



</body>
</html>
